<div class="col-md-6 col-md-offset-1">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= @article.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @article.author %>
  </p>

  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-success" %> |
  <%= link_to 'Back', articles_path, class: "btn btn-warning" %>

  <%= form_for(:comment, url:article_comments_path(@article)) do |f| %>
    <div class="form-group">
      <%= f.label :author, class: "control-label" %><br>
      <%= f.text_field :author, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :body, class: "control-label" %><br>
      <%= f.text_field :body, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit 'submit', class: "btn btn-primary" %>
    </div>
  <% end %>

  <p>
    コメント一覧
  </p>

  <% @article.comments.each do |comment| %>
    <p>
      <strong>Author:</strong>
      <%= comment.author %><br>
      <strong>Body:</strong>
      <%= comment.body %>
    </p>
  <% end %>
</div>
